@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply relative;
}

body {
  @apply font-body;
}

main {
  box-shadow: 0px 15px 25px 0px rgba(22, 78, 99, 0.15);
}

.card {
  @apply px-6 pt-6 first:pb-8 pb-6 md:px-[41px] md:pt-[40px] md:pb-[38px] md:first:pt-[36] md:first:pb-[40px];
}

.card button {
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.3);
}

.card button:hover {
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}

.why-list {
  @apply text-base-100/75 mt-[15px] text-[14px] leading-[20px];
}

.attribution {
  @apply absolute w-screen mx-auto left-0 bottom-2 text-[11px] text-center;
}

.attribution a {
  @apply font-bold text-primary-cyan hover:text-cyan-600 hover:underline;
}
